html {
  font-size: 62.5%;
  font-family: "Poppins", "sans-serif";
}
body {
  font-size: 1.6rem; /* 16px */
  background-image: url("pawprintpattern.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.result-wrapper {
  border: gray solid 1px;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
}
.captioned-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pet-form,
.feedback-form {
  display: flex;
  flex-direction: column;
  width: 70vw;
  height: fit-content;
  justify-content: space-around;
  align-items: left;
  margin: 1.5em;
  padding: 1em;
  border: gray solid 1px;
  background-color: whitesmoke;
}
.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  font-size: 1.8rem;

  label {
    margin-right: 1.2em;
  }
}
