{% extends 'layout.html' %} {% block content %}
<style>
  form {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 70vh;
    justify-content: space-around;
    align-items: left;
    margin: 3rem;
    font-size: 3rem;

    button[type="submit"] {
      font-size: 3rem;
    }
    input {
      font-size: 3rem;
    }
  }
</style>
<form action="/new-pet" method="POST" enctype="multipart/form-data">
  <label
    >What's your pet's name?
    <input name="pet-name" type="text" />
  </label>
  <label>
    Let's see a picture!
    <input name="pet-image" type="file" accept="image/jpeg" />
  </label>
  <button type="submit">Submit</button>
</form>
{% endblock %}
