{% extends 'layout.html' %} {% block content %}
<div class="form-wrapper">
  <h1 class="title">Detect Your Dog's Breed!</h1>
  <form
    class="pet-form"
    hx-post="/new-pet"
    hx-target="this"
    hx-swap="outerHTML"
    hx-indicator="#loading"
    enctype="multipart/form-data"
  >
    <div class="form-row">
      <label for="pet-name">What's your pet's name?</label>
      <input id="pet-name" name="pet-name" type="text" required />
    </div>

    <div class="form-row">
      <label for="pet-image">Let's see a picture!</label>
      <input
        id="pet-image"
        name="pet-image"
        type="file"
        accept="image/jpeg"
        required
      />
    </div>

    <br />
    <p><i>Let's learn a little more about your pet!</i></p>

    <div class="form-row">
      <label for="pet-age">How old are they?</label>
      <input id="pet-age" name="pet-age" type="number" required />
    </div>

    <div class="form-row">
      <label for="pet-gender">What about gender?</label>
      <select id="pet-gender" name="pet-gender" required>
        <option>Male</option>
        <option>Female</option>
      </select>
    </div>

    <button type="submit">Submit</button>
  </form>
  <div
    id="loading"
    class="htmx-indicator"
    style="background-color: gray; display: block"
  >
    <img src="{{url_for('static', filename='grid.svg')}}" />
  </div>
</div>
{% endblock %}
